header nav[aria-expanded="true"] {
  overflow-y: auto;
  min-height: 100vh;
}

@media (min-width: 600px) {
  header nav {
    padding: 0;
  }
}

@media (min-width: 900px) {
  header nav[aria-expanded="true"] {
    min-height: 0;
    overflow: visible;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon,
header nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (min-width: 900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* Sub header */
header .nav-brand p {
  font-size: 13px;
  line-height: 13px;
  text-transform: uppercase;
  color: #53565a;
}


header .nav-brand ul li a {
  color: #471d7c;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 13px;
}

header .nav-brand ul li:last-child a {
    border: 2px solid #471d7c;
    border-radius: 5px;
    padding: 2px 10px;
    font-family: SourceSans,sans-serif;
    font-weight: 600;
    line-height: 20.7px;
    background: #471d7c;
    margin: 0 auto;
    display: inline-block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 0;
    min-width: max-content;
    box-shadow: 0 6px 15px rgba(72,44,123,0.3);
}

/* header and nav layout */

header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 2;
  position: fixed;
}

header nav {
  box-sizing: border-box;
  align-items: center;
  margin: auto;
  padding: 0;
  font-family: var(--body-font-family);
}

header .nav-sections .nav-child{
  display: flex;
}
header .nav-sections .nav-child li{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
} 
header .nav-brand {
  width: 100%;
  max-width: 100%;
  background: white;
}
header .nav-brand .nav-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


header .nav-brand ul{
   display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
}

header .nav-brand ul li{
  padding-left: 20px;
      align-items: center;
    display: flex;
}



/* brand */
header .nav-brand .nav-child {
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
  max-width: 960px;
  margin: auto;
}

header nav .nav-brand img {
  width: 217px;
  height: auto;
}

/* sections */
header nav .nav-sections {
  background-color: #f9f9f9;
  box-shadow: inset 1px 6px 12px -6px #ccc;
  padding: 25px 0;
}

header nav .nav-sections .nav-child {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  margin: auto;
  align-items: center;
}
header nav .nav-sections .nav-child p {
  margin-right: 70px;
}

header nav[aria-expanded="true"] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav .nav-sections ul  {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
  font-weight: 500;
}
/* header nav .nav-sections ul ul {
  display: none;
} */
header nav .nav-sections .nav-drop ul {
  display: none;
  position: absolute;
  background-color: #efefef;
  padding: 15px;
  top: 87px;
  min-width: 160px;
  white-space: nowrap;
  z-index: 10;
  background: #f4ebf4;
  margin-left: -2px;
}
header nav .nav-sections .nav-drop li {
padding: 5px 0;
}
header nav .nav-sections ul li:hover li a {
  color:#333;
}
header nav .nav-sections ul li:hover li:hover a,
header nav .nav-sections ul li:hover {
  color: #33bcab;
}

header nav .nav-sections ul > li {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
}
header nav .nav-sections ul > li:hover a,
header nav .nav-sections ul > li:hover a {
  color: #33bcab;
  text-decoration: none;
}
header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav .nav-sections ul > li > ul > li {
  font-weight: 500;
}


  header nav[aria-expanded="true"] .nav-sections .nav-child {
    align-self: unset;
  }

  header nav .nav-sections .nav-drop {
    position: relative;
    padding-right: 16px;
    cursor: pointer;
  }
  header nav .nav-sections .nav-child .nav-drop[aria-expanded="true"] ul {
    display: block;
  }
  header nav .nav-sections .nav-child .nav-drop[aria-expanded="true"]:after  {
    border-bottom: 5px solid #33bcab;
  }
  header nav .nav-sections ul li::after {
    content: '';
    display: inline-block;
    position: relative;
    top: 2.85em;
    right: 2px;
    width: 100%;
    border-bottom: 5px solid transparent;

  }
  header nav .nav-sections ul .nav-drop li::after {
    content: '';
    display: block;
    position: relative;
    top: 0;
    right: 2px;
    width: 100%;
    border-bottom: 5px solid transparent;
  }
  header nav .nav-sections ul li:last-child:after {
    top: 45px;
  }
  header nav .nav-sections ul li.nav-drop li:last-child:after {
    top: 0;
  }

  header nav .nav-sections ul li:hover::after,
  header nav .nav-sections ul .nav-drop li:hover::after {
    border-bottom: 5px solid #33bcab;
  }

  header nav .nav-sections ul {
    display: flex;
    gap: 2em;
    margin: 0;
    font-size: var(--body-font-size-xs);
  }

  header nav .nav-sections > ul > li {
    flex: 0 1 auto;
    position: relative;
    font-weight: 500;
    display: flex;
    align-items: center;
  }

  header nav .nav-sections > ul > li > ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections > ul > li[aria-expanded="true"] > ul {
    display: block;
    position: absolute;
    left: -1em;
    width: 200px;
    margin-top: 12px;
    padding: 1em;
    background-color: var(--highlight-background-color);
    white-space: initial;
  }

  header nav .nav-sections > ul > li > ul::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--highlight-background-color);
  }

  header nav .nav-sections > ul > li > ul > li {
    padding: 8px 0;
  }
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
}
