/* block specific CSS goes here */

main .hero-container > div {
  max-width: unset;
}
  
main .hero-container {
  padding: 0;
}
  
main .hero {
  position: relative;
  padding: 32px;
  min-height: 300px;
}

main .hero h1 {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  font-size: .5em;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  padding: 1px 8px 0;
  z-index: 0;
  justify-content: flex-end;
  max-width: 960px;
}

main .default-content-wrapper h1 a {
  background: #fff;
    border: 0;
    color: #471d7c;
    font-weight: 600;
    font-size: 1em;
    line-height: 20.7px;
    display: inline-block;
    margin-bottom: 10px;
    text-decoration: none;
    padding: 10px 30px 12px;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
}

main .hero picture {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: auto;
  right: 0;
  display: flex;
  background: hsla(250, 63%, 23%, 1);
  background: -webkit-linear-gradient(0deg, hsl(250.4deg 64.1% 22.94%) 50%, hsla(263, 100%, 14%, 1) 100%);
}

main .hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 70%;
  margin: auto;
}
